:root {
  /* === MSN / Windows XP — Backgrounds === */
  --msn-bg: #E7EEFA;
  --msn-bg-secondary: #D5E2F5;
  --msn-bg-light: #F7F9FD;
  --msn-bg-gray: #cecece;


  --msn-box-shadow: #e6e6e6;
  /* === Borders === */
  --msn-border: #91A9D0;
  --msn-border-active: #4D72B8;

  /* === Text === */
  --msn-text: #102A72;
  --msn-link: #0000EE;

  /* === Windows / Header === */
  --msn-header: #24518A;

  /* === MSN Accents === */
  --msn-orange: #FF7A32;
  --msn-green: #55B86A;
  --msn-green2: #429a55;

  --msn-font: Tahoma, Verdana, Arial, sans-serif;

  --msn-font-size-xs: 10px;
  --msn-font-size-sm: 11px;
  --msn-font-size-md: 12px;
  --msn-font-size-lg: 14px;
  --msn-font-size-title: 16px;

  --msn-font-normal: 400;
  --msn-font-bold: 700;
}

body {
  margin: 0;
  min-width: 320px;
  font-family: var(--msn-font);
  font-size: var(--msn-font-size-sm);
  color: var(--msn-text);
  background: var(--msn-bg);
}

a {
  color: var(--msn-link);
  font-size: var(--msn-font-size-sm);
}

h1 {
  font-size: var(--msn-font-size-title);
  font-weight: var(--msn-font-bold);
}
